<form name="form1" method="post" enctype="multipart/form-data" action="api/upload">
    <div>
        <h1>Hello!</h1>
        <text>How are you?</text>
    </div>
    <div>
        
    </div>
</form>