@model UploadPhotos.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-8">
        <h1>Welcome to EmotionsX</h1>
        <p>Please choose a report.</p>
    </div>
    
    @*@section Breadcrumbs{
        <ol class="breadcrumb navbar-breadcrumb">
            <li>-------------------------This is a sample for my application-------------------------</li>
        </ol>
    }*@
</div>
